@import "@angular/material/prebuilt-themes/indigo-pink.css";

body { padding-top: 56px; font-family: Arial, sans-serif; }
.container { max-width: 1000px; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-success {
    --mdc-snackbar-container-color: #2e7d32;
    --mdc-snackbar-supporting-text-color: #fff;
}
.snack-error {
    --mdc-snackbar-container-color: #c62828;
    --mdc-snackbar-supporting-text-color: #fff;
}
